p{
  font-family: Roboto, Arial;
  margin-top: 0;
  margin-bottom: 0;
}

body{
  font-family: Roboto, Arial;
  margin: 0;
  padding-top: 85px;
  padding-left: 110px;
  padding-right: 22px;
  height: 1400px;
  background-color: rgb(242, 242, 242);
}

input:focus{
  outline: none;
  border: 1px solid rgb(103, 129, 198);
}